<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @interaction.service_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interaction.name %>
</p>

<p>
  <strong>Link:</strong>
  <%= @interaction.link %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
