<!DOCTYPE html>
<html>
  <head>
    <title>Urbanbus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
