<!DOCTYPE html>
<html>
  <head>
    <title>Brid</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <%# You are not conected %>
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/natural_people">Natural People</a></li>
    </ul>
  </header>

  <body>
    <%= yield %>
  </body>
  <footer>
</html>
