<h1><%= @params[:name] %> is requiring authentication</h1>

<input type="checkbox" checked disabled>Allow access to user information.
<br>
<input type="checkbox" checked disabled>Allow access to interactions.
<br>

Logging with

<table>
  <tbody>
    <%- @natural_people.each do |natural_person| %>
      <tr>
        <td><%= natural_person[:name] %></td>
        <td>
          <form action="<%= @params[:callback] %>" method="post">
            <input type="hidden" name="id" value="<%= natural_person[:id] %>" />
            <input type="hidden" name="name" value="<%= natural_person[:name] %>" />
            <input type="submit" value="Enter with brid" />
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>