<h1>BRID</h1>
<p>A suggestion for Brazil's legal person identifier and unified sensitive information handler</p>

<h2>Natural Person handlers</h2>
<ul>
  <li><a href="/natural_people">Show all</a></li>
  <li><a href="/natural_people/new">Register</a></li>
</ul>

<h2>Logs</h2>
<table>
  <thead>
    <tr>
      <th>When</th>
      <th>Method</th>
      <th>Model</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.created_at %></td>
        <td><%= LogMethod.find(log.method_id).method %></td>
        <td><%= LogModel.find(log.model_id).model %></td>
        <td><%= log.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>