<p id="notice"><%= notice %></p>

<h1>List of Natural People</h1>

<table>
  <thead>
      <tr>
        <%- NaturalPerson.new.attributes.each do |key, value| %>
          <th><%= key %></th>
        <% end %>
      </tr>
  </thead>
  <tbody>
    <%- @natural_people.each do |natural_person| %>
      <tr>
        <%- natural_person.attributes.each do |key, value| %>
          <td><%= value %></td>
        <% end %>
        <td><%= link_to "INSPECT", natural_person %></td>
        <td><%= link_to "EDIT", edit_natural_person_path(natural_person) %></td>
        <td>
          <%= 
            link_to "DELETE", natural_person, method: :delete,
            data: { confirm: "Are you sure?"}
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "CREATE", new_natural_person_path %>
