<p id="notice"><%= notice %></p>

<h1>Natural Person</h1>

<table>
  <%- @natural_person.attributes.each do |key, value| %>
    <tr>
      <td><b><%= key %></b></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Edit", edit_natural_person_path(@natural_person) %> |
<%= link_to "Back", natural_people_path %>