<p id="notice"><%= notice %></p>

<p>
  <strong>Brid:</strong>
  <%= @client.brid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client.balance %>
</p>

<h2>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>When</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created_at %></td>
        <td><%= transaction.value %></td>
        <td><%= transaction.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
