<h1>Bluebank</h1>

<form action="http://localhost:3000/main/connect" method="post">
  <%# this is only a test. The real interaction shall use only id and key %>
  <%# <input type="hidden" name="id" value="?" /> %>
  <%# <input type="hidden" name="key" value="?" /> %>
  <input type="hidden" name="name" value="Bluebank" />
  <input type="hidden" name="callback" value="http://localhost:3001/clients/connect" />
  <input type="submit" value="Enter with brid" />
</form>