<%= form_with(model: natural_person, local: true) do |form| %>
  <% if natural_person.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(natural_person.errors.count, "error") %> 
        prohibited this natural_person from being saved:
      </h2>

      <ul>
      <% natural_person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tbody>
      <tr>
        <td><%= form.label :name %></td>
        <td><%= form.text_field :name %></td>
      </tr>
      <tr>
        <td><%= form.label :identity %></td>
        <td><%= form.text_field :identity %></td>
      </tr>
      <tr>
        <td><%= form.label :birth_date, "Birthdate" %></td>
        <td><%= form.date_select :birth_date, :start_year => 1800 %></td>
      </tr>
      <tr>
        <td><%= form.label :gender %></td>
        <td>
          <%= form.radio_button :gender, :male, :checked => true %>
          <%= form.label :male, :value => :male %>
          <%= form.radio_button :gender, :female %>
          <%= form.label :female, :value => :female %>
        </td>
      </tr>
      <tr>
        <td><%= form.label :mother_id %></td>
        <td><%= 
          select_tag(
            :mother_id, options_for_select([["(undefined)", "-1"]]) + 
            options_from_collection_for_select(@natural_people.where(is_male: false), :id, :name)
          )
        %></td>
      </tr>
      <tr>
        <td><%= form.label :father_id %></td>
        <td><%= 
          select_tag(
            :father_id, options_for_select([["(undefined)", "-1"]]) + 
            options_from_collection_for_select(@natural_people.where(is_male: true), :id, :name)
          )
        %></td>
      </tr>
      <tr>
        <td><%= form.submit "Save" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
