<p id="notice"><%= notice %></p>
<p id="error" style="color: red"><%= error %></p>

<p>
  <strong>Brid:</strong>
  <%= @user.brid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<!---
<form action="http://localhost:3000/main/interact" method="post">
  <%# this is only a test. The real interaction shall use only id and key %>
  <%# <input type="hidden" name="id" value="?" /> %>
  <%# <input type="hidden" name="key" value="?" /> %>
  <input type="hidden" name="brid" value="<%= @user.brid %>" />
  <input type="hidden" name="name" value="UrbanBus" />
  <input type="hidden" name="interact" value="http://localhost:3001/clients/debit" />
  <input type="hidden" name="data" value="3" />
  <input type="hidden" name="request" value="1" />
  <input type="hidden" name="callback" value="http://localhost:3002/users/answer" />
  <input type="submit" value="Pay fare: $3" />
</form>
-->

<form action="/users/query" method="post">
  <input type="hidden" name="id" value="<%= @user.id %>" />
  <input type="submit" value="Pay fare: $3" />
</form>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
